[submodule "CDPortfolio/CDWebsite"]
	path = CDPortfolio/CDWebsite
	url = https://github.com/cl0udt3nthedev/CDWebsite.git
[submodule "net-lab"]
	path = net-lab
	url = https://github.com/cl0udt3nthedev/net-lab.git
